.slides section:not(.stack) {
    background-image: url(https://s3.amazonaws.com/media-p.slid.es/uploads/loicgiraudel/images/1245904/purch-185x185.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.slides section:not(.stack):after {
    content: '';
    position: absolute;
    width: 184px;
    height: 184px;
    right: -99px;
    bottom: -99px;
    background-color: rgba(255, 255, 255, .7);
    border: 100px solid white;
    border-radius: 100%;
    box-shadow: rgba(171, 49, 27, .3) 0px 15px 11px inset, rgba(231, 122, 103, .3) 0px -1px 3px inset;
}

.reveal.overview .slides section:not(.stack):after {
    display: block !important;
}

.slides section:not(.stack):before {
    content: 'Grenoble Team Demo';
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 60%;
    color: #777;
    text-shadow: 0px -1px 0px #333, 0px 1px 3px #999;
}

h1, h2 {
    color: rgb(222, 71, 44);
    text-shadow: 0px -2px 0px #ab311b, 0px 2px 3px #e77a67;
}
.sl-root .reveal .progress span {
    background-color: rgb(222, 71, 44);
}

.progress-bar .container {
    text-align: center;
    margin: auto;
    width: 80%;
}
.progress-bar .container .progress-label {
    position: relative;
    top: -14px;
    margin-right: 25px;
    float: left;
    font-size: 18pt;
}
.progress-bar .container .bar {
    line-height: 0px;
    font-size: 0px;
    margin: 2px auto;
    text-align: left;
    border: solid 1px #AAAAAA;
    background: #DDDDDD;
    overflow: hidden;
}
.progress-bar .container .bar .segment {
    font-size: 0px;
    line-height: 0px;
    height: 5px;
    min-width: 0%;
    float: left;
}
.progress-bar .container .bar .done {
    background: #0D8500;
}
.progress-bar .container .bar .in-progress {
    background: orange;
}
.progress-bar .container .label {
    font-size: 12pt;
    font-family: monospace;
}